@using SerializedPayloadGenerator.Models

@model Python

@using (Html.BeginForm("Generate", "Python", FormMethod.Post, new { @class = "", role = "form" }))
{
    <div class="jumbotron">
        <h1>Python Deserialization</h1>
        <p>A POC tool to generate payload for pickle and PyYML deserialization</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.type, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.type, new SelectList(Enum.GetValues(typeof(PyDeserType))),
             new { @class = "form-control", @id = "selPyDeserType" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.output, new { @class = "control-label", @id = "lblPythonOutupt" })
                @Html.DropDownListFor(m => m.output, new SelectList(Enum.GetValues(typeof(PythonOutput))),
             new { @class = "form-control", @id = "selPythonOutput" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.command, new { @class = "control-label", @id = "lblCommand" })
                @Html.TextAreaFor(m => m.command, new { @class = "form-control", @id = "txtCommand", @rows = 2 })
            </div>
            <br />
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Generate Payload" class="btn btn-primary form-control" />
            </div>
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.payload, new { @class = "control-label", @id = "lblPayload" })
            @Html.TextAreaFor(m => m.payload, new { @class = "form-control", @id = "txtPayload", @rows = 14 })
        </div>
    </div>
}

<script type="text/javascript">
    $('#selPyDeserType').change(function () {
        var data = $(this).val();
        if (data == "Pickle") {
            $("#lblCommand").show();
            $("#txtCommand").show();
            $("#lblPayload").show();
            $("#txtPayload").show();
            $("#lblPythonOutupt").show();
            $("#selPythonOutput").show();
            $("#btnSubmit").val("Generate Payload");
        }
        else if (data == "PyYML") {
            $("#lblCommand").hide();
            $("#txtCommand").hide();
            $("#lblPayload").hide();
            $("#txtPayload").hide();
            $("#lblPythonOutupt").hide();
            $("#selPythonOutput").hide();
            $("#btnSubmit").val("Download Sample File");
        }
    });
</script>

    
